@import './variables.scss';

.fab {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  transition: transform 0.6s $easing-swift;

  &.hidden {
    transform: translate(-50%, calc(100% + 2rem));
  }
}