@import './variables.scss';

.footer {
  border-top: solid 1px $box-border;
  display: flex;
  justify-content: space-between;
  padding: 3rem 2rem 2rem;

  &-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img {
      margin-bottom: 20px;
    }
  }

  &-right {
    display: flex;
    gap: 12rem;

    &-navigation, &-socials {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      > p {
        margin-bottom: 24px;
      }

      > button:not(:last-child) {
        margin-bottom: 36px;
      }
    }
  }
}