@import './variables.scss';

* {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.headline {
  font-family: 'SharpSans', Helvetica, sans-serif;
  font-weight: normal;

  &.size-1 {
    font-size: $base-font-size;
  }
  
  &.size-2 {
    font-size: calc($base-font-size * 0.875); 
  }
  
  &.size-3 {
    font-size: calc($base-font-size * 0.75);
  }
  
  &.size-4 {
    font-size: calc($base-font-size * 0.5);
  }
  
  &.size-5 {
    font-size: 20px;
  }
  
  &.size-6 {
    font-size: 16px;

    &-mobile {
      font-size: 14px;
    }
  }
}

.paragraph {
  font-family: 'Calibre', Helvetica, sans-serif;
  font-weight: normal;

  &.size-1 {
    font-size: 20px;
  }
  
  &.size-2 {
    font-size: 14px;
  }
  
  &.size-3 {
    font-size: 10px;
  }
}

.page {
  padding: 3rem;
}

.content {
  max-width: min($max-width, 90vw);
  margin: 0 auto;
}

.text-secondary {
  color: $text-secondary;
}

.mb-2 {
  margin-bottom: 1.5rem;
}