@import './variables.scss';

.page {
  overflow: hidden;
}

.section {
  position: relative;
  padding: 15vh 0;
}

.home-landing {
  padding-top: 25vh;

  .content {
    padding: 0 clamp(2rem, 6vw, 8rem);
  }
}

.home-rankings {
  &-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      color: $gray;
    }
  }

  .rankings-row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20px;
    margin: 24px 0 20px;

    &:last-child {
      grid-template-columns: 1fr 2fr 1fr;
    }
  }
}

.home-about {
  display: flex;
  justify-content: space-around;
  align-items: center;

  &-left {
    max-width: min(35vw, 600px);

    h1 {
      margin-bottom: 2rem;
    }
  }

  &-right {
    background-color: $primary-red;
    border-radius: $border-radius;
    width: 40vw;
    height: min(80vh, 800px);
  }
}