@import './variables.scss';

.ranking {
  &-button-container {
    margin: 2rem 0 3rem;
    display: flex;
    gap: 1rem;
  }

  &-empty-state {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: clamp(4rem, 14vh, 10rem) 4rem;
    border: dashed 1px #B8B8B8;
    border-radius: $border-radius;
    flex-direction: column;
    margin-top: 3rem;

    > h3 {
      margin: 2rem 0 1rem;
    }
  }

  &-populated {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
}

.sortable-item {
  background-color: $box-background;
  border-radius: $border-radius;
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 2rem;
  align-items: center;

  &-content {
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
      height: 72px;
      width: 72px;
      border-radius: $border-radius-inner;
    }

    .headline {
      margin-bottom: 8px;
    }
  }

  &-draggable {
    border-radius: 6px;
    padding: 8px 4px;
    transition: background-color 0.25s $easing-swift;
    display: flex;

    &:hover {
      background-color: $box-background-hover;
    }
  }
}