@import './variables.scss';

.search {
  position: relative;
  
  .search-bar {
    border-radius: 32px;
    background-color: $box-background;
    font-family: 'SharpSans', Helvetica, sans-serif;
    font-weight: normal;
    font-size: 16px;
    border: none;
    padding: 20px 48px 20px 20px;
    min-width: 250px;
  }

  img {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 20px;
    height: 20px;
  }
}