@import './variables.scss';

.template-carousel {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  margin-top: 5rem;
  height: 340px;

  .template-card {
    border-radius: $border-radius;
    padding: 2rem;
    min-width: 248px;
    position: relative;

    h3 {
      margin-bottom: 0.5rem;
    }

    button {
      color: $gray;
    }

    .template-card-img {
      mix-blend-mode: luminosity;
      position: absolute;
      object-fit: contain;
      max-height: 60%;
      bottom: 0;
    }

    &:nth-child(3n - 2) {
      background-color: $primary-blue;
      height: 65%;
    }

    &:nth-child(3n - 1) {
      background-color: $primary-red;
      height: 100%;
    }

    &:nth-child(3n) {
      background-color: $primary-yellow;
      height: 80%;
    }
  }
}