// Colors
$primary-red: #F5EDEA;
$primary-yellow: #F5F2EA;
$primary-blue: #DFE9F1;

$primary-red-dark: #D8B6AB;
$primary-yellow-dark: #D8C9AB;
$primary-blue-dark: #ABC5D8;

$box-background: #F8F7F5;
$box-background-hover: #EBEAE7;
$box-border: #E4E4E4;
$box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.08);
$text-secondary: #646464;

$black: #111;
$white: #FFF;
$gray: #444;

// Layout
$border-radius: 20px;
$border-radius-inner: 12px;
$space: 0.5rem;
$max-width: 1600px;

// Easing functions
$easing-swift: cubic-bezier(.13, .69, .14, 1);
$easing-in-out: cubic-bezier(.82, .22, .11, .96);

// Fonts
$base-font-size: clamp(2.25em, 5vw, 4em);

@font-face {
  font-family: 'SharpSans';
  src: url('/fonts/SharpSans-Medium.otf');
}

@font-face {
  font-family: 'Calibre';
  src: url('/fonts/calibre-light.woff2');
}