// Colors
$primary-red: #F5EDEA;
$primary-yellow: #F5F2EA;
$primary-blue: #DFE9F1;

$primary-red-dark: #D8B6AB;
$primary-yellow-dark: #D8C9AB;
$primary-blue-dark: #ABC5D8;

$box-background: #F8F7F5;
$box-border: #E4E4E4;
$text-secondary: #646464;

$black: #111;
$white: #FFF;
$gray: #444;

// Layout
$border-radius: 20px;
$space: 0.5rem;
$max-width: 1600px;